<template name="layout">
  <head>
    <title>App Title</title>
  </head>
  <body>
    <div class="container-fluid">
      {{> header}}
      <div id="main" class="row">
        {{> yield}}
      </div>
    </div>
  </body>
</template>
